body {
  font-family: $primary-font;
  color: $primary-color;
  background: $tertiary-color;
}

h1, h2, h4 {
  margin: 0;
}

p {
  font-family: $secondary-font;
  line-height: 1.5rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: .01rem;
  text-align: center;
  margin: 80px 0;
  position: relative;
}

h3::before {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  width: 15%;
  height: 5px;
  background-color: $secondary-color;
}

h3::after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  width: 15%;
  height: 5px;
  background-color: $secondary-color;
}

@media (min-width:670px) {
  h3 {
    font-size: 3rem;
  }

  h3::before {
    width: 25%;
  }

  h3::after {
    width: 25%;
  }
}

@media (min-width:1200px) {
  h3::before {
    width: 30%;
  }

  h3::after {
    width: 30%;
  }
}

h4 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 80px;
  position: relative;
}

h4::after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  width: 50%;
  height: 5px;
  background-color: $secondary-color;
}

@media (min-width: 670px) {
  h4::after {
    width: 80%;
  }
}

h5 {
  font-size: 1.5rem;
  color: $secondary-color;
  text-align: center;
  margin: 0 0 30px 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

.button {
  font-family: $primary-font;
  @include border-boxshadow;
  @include button-styles;
  &:hover {
    @include button-styles-hovered;
  }
  &:active {
    background-color: $secondary-color;
  }
}

//iPhone 5, SE
.wrapper {
  width: 310px;
  margin: 0 auto;
}

//Samsung Galaxy S9/S9+
@media (min-width:360px) {
  .wrapper {
    width: 340px;
  }
}

//iPhone 6, 7, 8, X
@media (min-width:375px) {
  .wrapper {
    width: 355px;
  }
}

//iPhone 6+, 7+, 8+
@media (min-width:414px) {
  .wrapper {
    width: 394px;
  }
}

@media (min-width:670px) {
  .wrapper {
    width: 650px;
  }
}

//iPad
@media (min-width:768px) {
  .wrapper {
    width: 748px;
  }
}

@media (min-width:1200px) {
  .wrapper {
    width: 1180px;
  }
}

// Mobile modal nav
.mobile-nav-modal {
  display: none;
  position: fixed;
  z-index: 120;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23353535' fill-opacity='0.07'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.modal-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  letter-spacing: .01rem;
  text-align: center;
  margin-top: 180px;
  li {
    margin-bottom: 30px;
    a {
      position: relative;
      transition: .35s color;
      &:active {
        color: $secondary-color;
      }
    }
  }
}

.mobile-nav-modal li a::after {
  top: 35px;
  @include hover-underline-styles;
}

.mobile-nav-modal li a:hover::after {
  @include hover-underline-styles-hovered
}

.mobile-nav-modal img {
  width: calc(400px / 2);
  height: calc(189px / 2);
  padding-left: 10px;
  margin-top: 100px;
}
// End of mobile modal nav

// Contact modal
.contact-modal {
  display: none;
  position: fixed;
  z-index: 120;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  .modal-exit .modal-exit-button {
    margin: 20px 0 0 0;
  } 
  form {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: 1.125rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    margin-top: 100px;
    padding: 0 40px 40px 40px;
    background-color: $tertiary-color;
    border-top: solid 10px $secondary-color;
    @include border-boxshadow;
  }
}

@media (min-width:670px) {
  .contact-modal form {
    width: 600px;
  }
}

// @media (min-height:900px) {
//   .contact-modal form {
//     top: 30%;
//   }
// }

.contact-modal form .modal-exit a i {
  padding: 0 0 0 0;
  margin: 20px 0 40px 0;
}

form input,
form textarea {
  background-color: $tertiary-color;
  font-family: $secondary-font;
  color: $primary-color;
  border: none;
  border-bottom: 3px solid $primary-color;
  margin: 10px 0;
}

form input {
  width: 150px;
}

form input:nth-child(3) {
  margin-top: 0;
}

form input:nth-child(9) {
  width: 200px;
}

@media (min-width:670px) {
  form input {
    font-size: 1.25rem;
    width: 200px;
  }

  form input:nth-child(9) {
    width: 260px;
  }

  form textarea {
    font-size: 1.25rem;
  }
}

.contact-modal-button:active {
  background-color: $secondary-color;
}
// End of contact modal

// Modal exit
.modal-exit {
  text-align: right;
  .modal-exit-button {
    font-size: 2.5rem;
    margin: 20px 10px 0 0;
    transition: color .35s;
    &:hover {
      color: $secondary-color;
    }
  }
}
// End of modal exit

// Main category styles
.main-category {
  padding-top: 98.7px;
}

@media (min-width:1200px) {
 .main-category {
   padding-top: 130.2px;
 }
}
//End of main category styles

// Section 1 styles
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 80px 0;
  p {
    margin: 0 0 80px 0;
    max-width: 500px;
    span {
      font-size: 1.5rem; 
      font-family: $primary-font;
    }
  }
}

.section-1 img {
  height: 550px;
  width: 100%;
  object-fit: cover;
  @include border-boxshadow;
}

@media (min-width:670px) {
  .section-1 img {
    //width of info-card
    width: calc(781px / 1.75);
  }
}

@media (min-width:1200px) {
  .section-1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 80px;
    p {
      margin: 0;
    }
  }
}
// End of section 1 styles

// Category styles
.category {
  margin-bottom: 80px;
  background-color: $quaternary-color;
  padding: 80px 0;
  .card-p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      width: 100%;
    }
  }
}

@media (min-width:670px) {
  .category .card-p-container p {
    width: 500px;
  }
}

@media (min-width:768px) {
  .category .card-p-container {
    flex-direction: row;
    justify-content: space-between;
    p {
      width: 350px;
    }
  }
}

@media (min-width:1200px) {
  .category .card-p-container {
    justify-content: space-evenly;
    p {
      width: 500px;
    }
  }
}
//End of category styles

// Information card styles
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 40px 20px;
  width: 100%;
  border-top: solid 10px $secondary-color;
  background-color: $tertiary-color;
  @include border-boxshadow;
  img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }
  .card-info-text {
    text-align: center;
  }
}

@media (min-width:670px) {
  .card-info {
    width: 370px;
  }
}

@media (min-width:1200px) {
  .card-info {
    //section-1 img width
    width: calc(781px / 1.75);
  }
}

.card-info-ul {
  font-family: $secondary-font;
  text-align: left;
  list-style: inside disc;
  li {
    margin-bottom: 20px;
    line-height: 1.5rem;
  }
}

.card-info-ul li:last-child {
  margin-bottom: 0;
}
// End of information card styles

// Card icon styles
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
  .card-icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 80px;
    @include border-boxshadow;
    border-top: solid 10px $secondary-color;
  }
}

.card-icon .button {
  margin: 30px 0 0 0;
}

@media (min-width:670px) {
  .card-container .card-icon {
    width: 370px;
  }
}

@media (min-width:768px) {
  .card-container {
    justify-content: space-between;
  }

  .card-container .card-icon:last-child {
    margin: 0 auto 80px auto;
  }
}

@media (min-width:1200px) {
  .card-container .card-icon {
    border-radius: 0;
    box-shadow: none;
    border-top: solid 10px $tertiary-color;
    transition: border-top .35s, border-radius .35s, box-shadow .35s;
    &:hover {
      @include border-boxshadow;
      border-top: solid 10px $secondary-color;
    }
  }

  .card-container .card-icon:last-child {
    margin: 0 0 80px 0;
  }
}

.card-icon .img-underlay {
  background-color: $quaternary-color;
  padding: 30px;
  border-radius: 50%;
  img {
    height: 90px;
    width: 90px;
    border-radius: 0;
  }
}

.card-icon h2 {
  font-size: 1.5rem;
  color: $secondary-color;
  margin: 30px 0;
}
//End of card icon styles

//Card container duo styles
.wrapper .card-container-duo {
  margin-top: 0;
}

@media (min-width:768px) {
  .wrapper .card-container-duo {
    margin-top: 80px
  }

  .wrapper .card-container-duo .card-icon:last-child {
    margin: 0 0 80px 0;
  }
}

@media (min-width:1200px) {
  .wrapper .card-container-duo {
    justify-content: space-evenly;
  }
}
//End of card duo styles