.section-1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0 0 80px 0;
    max-width: 500px;
    span {
      font-size: 1.5rem;
      font-family: $primary-font;
    }
  }
}

.section-1-container img {
  width: calc(781px / 2.5);
  height: calc(507px / 2.5);
  @include border-boxshadow;
}

@media (min-width:670px) {
  .section-1-container img {
    width: calc(781px / 1.75);
    height: calc(507px / 1.75);
  }
}

@media (min-width:1200px) {
  .section-1-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    p {
      margin: 0;
    }
  }
}

.owner-fb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width:768px) {
  .owner-fb-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 748px;
  }
}

@media (min-width:1200px) {
  .owner-fb-container {
    justify-content: space-evenly;
    width: 1180px;
  }
}

.owner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 40px 20px;
  width: 310px;
  border-top: solid 10px $secondary-color;
  @include border-boxshadow;
  img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }
  .owner-card-text {
    text-align: center;
  }
}

@media (min-width:670px) {
  .owner-card {
    width: 400px;
  }
}

@media (min-width:1200px) {
  .owner-card {
    width: 650px;
  }
}

.owner-card-text h4 {
  font-size: 1.5rem;
  color: $secondary-color;
  margin: 20px 0;
}

.owner-card-ul {
  font-family: $secondary-font;
  text-align: left;
  list-style: inside disc;
  li {
    margin-bottom: 20px;
    line-height: 1.5rem;
  }
}

.owner-card-text-ul li:last-child {
  margin-bottom: 0;
}

.fb-page {
  margin-top: 80px;
  @include border-boxshadow;
}
// End of section 1

// Section 2
.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
  .card a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 370px;
    padding: 40px 20px;
    margin-bottom: 80px;
    border-top: solid 10px $tertiary-color;
    transition: border-top .35s, border-radius .35s, box-shadow .35s;
    &:hover {
      @include border-boxshadow;
      border-top: solid 10px $secondary-color;
    }
  }
}

@media (min-width:768px) {
  .section-2 {
    justify-content: space-between;
  }

  .card-container .card:last-child {
    margin: 0 auto;
  }
}

@media (min-width:1200px) {
  .section-2 .card:last-child {
    margin: 0;
  }
}

.card .img-underlay {
  background-color: $quaternary-color;
  padding: 30px;
  border-radius: 50%;
  img {
    height: 90px;
    width: 90px;
    border-radius: 0;
  }
}

.card h2 {
  font-size: 1.5rem;
  color: $secondary-color;
  margin: 30px 0;
}
// End of section 2